<div class="flex">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cristian Romano</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="/assets/tostada.png" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        facilis similique nihil, asperiores laboriosam porro incidunt nobis
        natus eaque iste quo reiciendis odio consequatur sit aperiam, unde quas
        voluptas. Facilis!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        color="primary"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>home</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
